body {
    font-family: Arial, sans-serif;
    /* background-color: #e0f7fa; */
    /* background-color: #e0f7fa; */
	background-image: url("/weather/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: auto;
}

body::before {
    content: '';
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    overflow: auto;
}
.weather-app {
    margin-top: 20px;
    background-color: rgba(255, 248, 248,0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.bloc {
    text-align: center;
    margin-top: 20px;
}

h1 {
    margin: 0%;
    padding: 0%;
    border-width: 0%;
    font-size: 40px;
    color: #485368;
}
h2 {
	margin: 5%;
    padding: 0%;
    font-size: 30px;
    color: #e9e9e9;
}


.weather-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

.weather-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d6dbcf;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hour {
    font-size: 30px;
    color: #555;
    font-weight: bold;
}

.temp {
    font-size: 25px;
    color: #186b9b;
}

.weather-icon {
    width: 60px;
    height: 60px;
}

.weather-item:nth-child(odd) {
    background-color: #c0cac1;
}

.chooser{
	color: #555;
}

.city_selection{
    background-color: #c0cac1;
}

select {
	/* appearance: none; */
	background-color: rgba(0, 0, 0, 0.2);
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 0 0em 0 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	cursor: inherit;
	line-height: inherit;
	text-align: center;
	font-size: 30px;
	color: #555;
	/* background-color: #186b9b;
	border-radius: 10%; */
}

button {
	background-color: #d6dbcf;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	font-size: 30px;
	color: #555;
	padding: 0 0em 0 0;
	margin: 0;
	width: 100%;
}

.home-button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff41;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #0056b3;
}

