body {
    font-family: Arial, sans-serif;
    background-color: #9dc8ce;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
	padding: 0;
	border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



h1 {
	margin: 0%;
	margin-top: 10%;
	margin-bottom: 10%;
    padding: 0%;
    border-width: 0%;
    font-size: 40px;
    color: #485368;
	}


code {
	word-break: break-word;
	line-height: 0.5;
	text-align: center;
	/* background-color: red; */

}

.app {
	background-color: rgba(255, 248, 248,0.7);
	padding: 2%;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 400px;
	text-align: center;
}

.applist {
	display: flex;
	flex-direction: column; /* Align elements in a column */
	max-height: 400px; /* Limit the height of the div */
	overflow-y: auto; /* Enable scrolling when content exceeds max-height */
	border: 1px solid #aaa;
	border-radius: 10px;
	padding: 10px;
	gap: 5px;
	height: 700px;
	/* width: 300px; Optional: set the width of the div */
}

.appitem {
	display: flex;
	margin: 0;
	gap: 10px;
	align-items: center;
	flex-direction: row;
	border-radius: 10px;
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.note-content{
	margin: 0;
	/* margin-top: 5%; */
	padding: 0;
	border: 0;
	width: 300px;
	align-items: center;

}
.index{
	margin: 0;
	padding: 0;
	background-color: rgb(218, 218, 218);
	width: 30px; /* Fixed width for the index */
    height: 30px; /* Same as width to make it circular */
    border-radius: 50%; /* Make it round */
    display: flex;
    justify-content: center; /* Center index text */
    align-items: center; /* Center index text vertically */
	color: #aaa;
}


form{
	padding: 0 0em 0 0;
	margin: 0;
	width: 100%;
}

input{
	width: 280px;
	margin-top: 3%;
	margin-bottom: 3%;
	/* border-radius: 2px; */
}

button {
	background-color: rgba(0, 0, 0, 0.2);
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	font-size: 15px;
	color: #555;
	padding: 0 0em 0 0;
	margin: 0;
	width: 30%;
}

.home-button {
	margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #728aa3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
	text-align-last: center;
}

.home-button:hover {
    background-color: #798b9e;
}