body {
    font-family: Arial, sans-serif;
    /* background-color: #e0f7fa; */
    background-color: #e0f7fa;
	/* background-image: url("background.jpg"); */
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}
.uploader-app {
    background-color: rgba(255, 248, 248,0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0%;
    padding: 0%;
    border-width: 0%;
    font-size: 40px;
    color: #485368;
}
h2 {
	margin: 5%;
    padding: 0%;
    font-size: 25px;
    color: #7a7a7a;
}


.upload-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
	margin-bottom: 15px;
}


.weather-item:nth-child(odd) {
    background-color: #c0cac1;
}

.chooser{
	color: #555;
}

input[type=file] {
	color: #7a7a7a;
	padding: 8px 12px;
	background-color: #eee;
	border: 1px solid #555;
	border-radius: 8px;

}

input[type=file]:focus {
	outline: 1px dashed #000;
	outline-offset: 2px;
  }

button {
	border-radius: 8px;
	font-size: 31px;
	font-weight: bold;
	border: 1px solid #555;
	padding: 10px;
	color: #5f4d4d;
}
